body
{
margin: 0;
padding: 0;
color: black;
}

.theme-main-menu .logo a img {
    height: 43px;
    margin-left: 37px;
    margin-top: 0px;
  }
  .nav-item {
 padding-bottom: 8px; 
 }
 .inner-container .container{
  text-align: center;
  position: absolute;
  top: 16%;
  left: 33%;
  transform: translate(-50%,-50%);
  opacity: 0.6;
  }
  .inner-container .container span{
    text-transform: uppercase;
    display: block;
  }
  .inner-container .text1{
    color: #f2c829;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: black;
    position: relative;
    animation: text 3s 1;
  }
  .inner-container .text2{
    font-size: 30px;
    color: #6ab04c;
  }
  
  @keyframes text {
    0%{
      color: black;
      margin-bottom: -40px;
    }
    30%{
      letter-spacing: 25px;
      margin-bottom: -40px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
    }
  }

  .hexagon {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);;
     
  }
  